*{
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: Josefin Sans;
}

body{
    height: 100vh;
}

#heading{
    font-weight: 300;
    font-size: 40px;
    color: hsl(0, 93%, 68%);
}

/* .img-placeholder{
    
} */

.intro{
    background-image: url();
}